.wrap{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row_setting{

  width: 100%;
}
.numberbox{

display: flex;
justify-content: center;
align-items: center;
background-image: url('../images/rsz_street-car-vehicle-blur.jpg');
background-size: cover;
background-position: center;
}

.numberbox h1{
  font-size: 150px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
}

.inputbox{
  padding: 30px;
  box-sizing: border-box;
}

.btnMath button{
  width: 100%;
  margin-top: 10px;
}
